{{PutDocType}}
<html>
<head>
{{PutCharset}}
{{PutMetaTitle}}
{{PutMetaKeyword}}
{{PutMetaDescription}}
{{PutNoIndex}}
<link rel="shortcut icon" href="{{PutHName}}/favicon.ico"><script type="text/javascript" language="javascript" src="/bl.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/Gallery/jquery.ad-gallery.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/Watermark/jquery.watermarkinput.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/CSSMessageBox/js/jquery.ui.draggable.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/CSSMessageBox/js/jquery.alerts.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/calendar/jquery.datepick.js"></script>
<link rel="stylesheet" type="text/css" href="/JQuery/calendar/jquery.datepick.css">
<script type="text/javascript" language="javascript" src="{{PutHName}}/{{PutTFolder}}.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/tooltip.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js'></script>
<link rel="stylesheet" href="{{PutHName}}/tooltip.css" type="text/css">
<link rel="stylesheet" href="/JQuery/CSSMessageBox/css/jquery.alerts.css">
<script type="text/javascript" src="/JQuery/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/JQuery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/JQuery/fancybox/jquery.fancybox-1.3.4.css" media="screen">
<script type="text/javascript" language="javascript" src="/JQuery/Gallery3/jqFancyTransitions.js"></script>
<link rel="stylesheet" href="/JQuery/Gallery3/jqFancyTransitions.css" type="text/css">
<script type ="text/javascript" src="/JQuery/Highlight8/jssor.js"></script>
<script type ="text/javascript" src="/JQuery/Highlight8/jssor.slider.js"></script>
<link type="text/css" rel="stylesheet" href="/JQuery/Highlight8/jssor_style.css">
<script type="text/javascript" language="javascript" src="/AdsPeeler/swfobject.js"></script>
<script type="text/javascript" language="javascript" src="/AdsPeeler/AC_OETags.js"></script>
<script type="text/javascript" language="javascript" src="/AdsPeeler/pageear.js"></script>
<!--[if lt IE 9]><script type="text/javascript" language="javascript" src="/JQuery/ToolTip/js/excanvas/excanvas.js"></script><![endif]-->
<script type="text/javascript" language="javascript" src="/JQuery/ToolTip/js/spinners/spinners.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/ToolTip/js/tipped/tipped.js"></script>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/JQuery/ToolTip/css/tipped.css" type="text/css">
<link type="text/css" rel="stylesheet" href="{{PutHName}}/style.css">
<link type="text/css" rel="stylesheet" href="{{PutHName}}/Layout.css">
<link rel="stylesheet" href="/JQuery/popup1/popup1.css" type="text/css">
<script src="/JQuery/popup1/popup1.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/Menus-Horizontal1.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/jscript.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/custom.js"></script>
<link type="text/css" rel="stylesheet" href="{{PutHName}}/custom.css">
<link href='https://fonts.googleapis.com/css?family=Germania+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--StartMH-->
<!--MetaSharing-->
<!--EndMH-->
{{PutHeadSection}}
</head>
<body id="blbodymain">
<!-- BEGIN: Previous-Next Links -->
<div class="submenu-prev-button">
<div class="first-prev"><i class="fa fa-hand-o-left" aria-hidden="true"></i></div>
{{PutFile:Buttons.htm}}
</div>
<div class="submenu-next-button">
<div class="first-next"><i class="fa fa-hand-o-right" aria-hidden="true"></i></div>
{{PutFile:Buttons.htm}}
</div>
{{PutFile:Buttons3.htm}}
<!-- END: Previous-Next Links -->
{{PutGoogleCustomSearch}}
<div class="main_wrapper">
<div class="menu_div column6"><script type="text/javascript" language="JavaScript">GetHorizontalMenu1();</script></div>
<div class="c1">{{PutLogo}}</div>
<div class="v_line"></div>
<!-- BEGIN: Top_wrapper -->
<div class="c2">
<div id="page-label"><span class="page-label"></span></div>
<div class="top_date">{{PutDate}}</div>
<div class="f2">
<div id="social">
<div id="social_icon">
<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
</div>
<div id="social_icon">
<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
</div>
<div id="social_icon">
<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
</div>
<div id="social_icon">
<a href="https:///bulletlink/template-110.com/clients//bulletlink/template-110/headlines.rss"><i class="fa fa-rss"></i></a>
</div>
</div>
</div>
</div>
<!-- EDN: Top_wrapper -->
<div class="v_line"></div>
<!-- BEGIN: mid_wrapper -->
<div class="mid_wrapper">
<div class="left_wrapper">
<div class="c3">{{PutHighlight1}} {{PutAdGroup15}}</div>
<div class="v_line"></div>
</div>
<div class="right_wrapper">
<div class="c5 cc5">{{PutMainContent}}</div> 
<div class="v_line"></div>
<div class="c6">{{PutAdGroup13}}{{PutAdGroup11}}{{PutAdGroup14}}</div> 
</div>
<div class="v_line"></div>
<!-- BEGIN: Footer -->
<div class="footer">
<div class="f1">{{PutCopyright}}</div>
<div class="f3">
<center>
<a href="https://bulletlink.com" target="_blank"><span class="powerBy">{ powered by bulletlink.com }</span></a>
</center>
</div>
</div>
<!-- END: Footer -->
<br>
</div>
<!-- END: mid_wrapper -->
<div style="clear:both;"></div>
</div>
<!--Template-127-->
{{PutGoogleAnalytics}}
</body>
</html>
