{{PutDocType}}
<html>
<head>

{{PutCharset}}
{{PutMetaTitle}}
{{PutMetaKeyword}}
{{PutMetaDescription}}
{{PutNoIndex}}
<link rel="shortcut icon" href="{{PutHName}}/favicon.ico"><script type="text/javascript" language="javascript" src="/bl.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/Gallery/jquery.ad-gallery.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/Watermark/jquery.watermarkinput.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/CSSMessageBox/js/jquery.ui.draggable.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/CSSMessageBox/js/jquery.alerts.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/calendar/jquery.datepick.js"></script>
<link rel="stylesheet" type="text/css" href="/JQuery/calendar/jquery.datepick.css">
<script type="text/javascript" language="javascript" src="{{PutHName}}/{{PutTFolder}}.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/tooltip.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js'></script>
<link rel="stylesheet" href="{{PutHName}}/tooltip.css" type="text/css">
<link rel="stylesheet" href="/JQuery/CSSMessageBox/css/jquery.alerts.css">
<script type="text/javascript" src="/JQuery/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/JQuery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/JQuery/fancybox/jquery.fancybox-1.3.4.css" media="screen">
<script type="text/javascript" language="javascript" src="/JQuery/Gallery3/jqFancyTransitions.js"></script>
<link rel="stylesheet" href="/JQuery/Gallery3/jqFancyTransitions.css" type="text/css">
<script type ="text/javascript" src="/JQuery/Highlight8/jssor.js"></script>
<script type ="text/javascript" src="/JQuery/Highlight8/jssor.slider.js"></script>
<link type="text/css" rel="stylesheet" href="/JQuery/Highlight8/jssor_style.css">
<script type="text/javascript" language="javascript" src="/AdsPeeler/swfobject.js"></script>
<script type="text/javascript" language="javascript" src="/AdsPeeler/AC_OETags.js"></script>
<script type="text/javascript" language="javascript" src="/AdsPeeler/pageear.js"></script>
<!--[if lt IE 9]><script type="text/javascript" language="javascript" src="/JQuery/ToolTip/js/excanvas/excanvas.js"></script><![endif]-->
<script type="text/javascript" language="javascript" src="/JQuery/ToolTip/js/spinners/spinners.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/ToolTip/js/tipped/tipped.js"></script>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/JQuery/ToolTip/css/tipped.css" type="text/css">
<link type="text/css" rel="stylesheet" href="{{PutHName}}/style.css">
<link type="text/css" rel="stylesheet" href="{{PutHName}}/Layout18.css">
<link rel="stylesheet" href="/JQuery/popup1/popup1.css" type="text/css">
<script src="/JQuery/popup1/popup1.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/Menus-Horizontal1.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/Menus-Footer61.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/jscript18.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/custom.js"></script>
<link type="text/css" rel="stylesheet" href="{{PutHName}}/custom.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--StartMH-->
<!--MetaSharing-->
<!--EndMH-->
{{PutHeadSection}}
</head>
<body id="blbodymain">
{{PutGoogleCustomSearch}}
{{PutStickyAds}}
<div class="main_wrapper">
<div class="wrapper_holder">
<!-- Begin: Header -->
<div class="Header-wrapper custom_background_img_<!--MenuId-->">
<div class="Header">
<div class="header-links">
<div class="highlight-7">{{PutHighlight7}}</div>
<!-- BEGIN: Google -->
<div id="google">
<div class="Google_search_box"><gcse:searchbox></gcse:searchbox></div>
<div class="Google_search_results"><gcse:searchresults></gcse:searchresults></div>
</div>
<!-- END: Google -->

</div>
<div class="c1">
<div class="c2">{{PutAdGroup14}}</div>
<div class="c3">{{PutLogo}}</div>
<div class="c4">{{PutAdGroup16}}</div>
</div>
<div style="clear:both;"></div>
</div>
</div>
<!-- END: Header -->
<!-- Begin: MENU -->
<div class="c5">
<div class="c6 column6"><script type="text/javascript" language="JavaScript">GetHorizontalMenu1();</script></div>
</div>
<!-- END: MENU -->
<!-- Begin: HIGHLIGHT1 -->
<div class="c7">
<div class="c8">{{PutHighlight1}}</div>
</div>
<!-- End: HIGHLIGHT1 -->
<!-- Begin: MID WRAPPER -->
<div class="c9">
<div class="c10">
<div class="home-left-column">
<div class="highlight-2">{{PutHighlight2}}</div>
<div class="Ad-12">{{PutAdGroup12}}</div>
</div>
<div class="right-column">
<div class="Ad-11">{{PutAdGroup11}}</div>
<div class="highlight-4">{{PutHighlight4}}</div>
<div class="Video-gallery">{{PutArticleGroup106}}</div>
<div id="content"><aside class="arrow">Video gallery</aside></div>
<div class="Video-gallery">{{PutArticleGroup203}}</div>

<div class="Ad-11">{{PutAdGroup13}}</div>
<div class="Poll">{{PutPoll1}}</div>
</div>
</div>
</div>
<!-- END: MID WRAPPER -->
<!-- Begin: Footer -->
<div class="footer custom_background_img_<!--MenuId-->">
<div class="f1">
<div class="f2">{{PutCopyright}} <a href="/clients/bulletlink/staff-jsj-21021/sitemap.asp" style="display: none;">Sitemap</a></div>
<div class="f3">
<ul class="spicesocialwidget">
<li class="facebook">
<a rel="nofollow" href="https://www.facebook.com/" target="_blank" title="facebook">

</a>
</li>
<li class="googleplus">
<a rel="nofollow" href="#" target="_blank" title="googleplus"></a>

</li>
<li class="pinterest">
<a rel="nofollow" href="https://plus.google.com/" target="_blank" title="pinterest"></a>

</li>
<li class="twitter">
<a rel="nofollow" href="https://twitter.com/" target="_blank" title="twitter"></a>

</li>

<li class="linkedin">
<a rel="nofollow" href="https://www.linkedin.com/" target="_blank" title="linkedin">

</a>
</li>
<li class="youtube">
<a rel="nofollow" href="youtube.com/" target="_blank" title="youtube"></a>

</li>
</ul>
</div>
<div class="f4">
{{PutPoweredBy}}
</div>
</div>
</div>
<!-- END: Footer -->
</div>

<div style="clear:both;"></div>
</div>
<!-- Video gallery js -->
<script id="rendered-js">
$('.Video-wrapper').each(function () {
  var $slider = $(this);
  var numberOfSlides = $slider.find('.Video-panel').length;

  $slider.find('.Video-panel:eq(0)').addClass('_active');
  $slider.find('.Video-nav-dot:eq(0)').addClass('active');

  var $activeSlide = $slider.find('.Video-panel._active');
  var $nextBtn = $slider.find('.Video-next-btn');
  var $prevBtn = $slider.find('.Video-prev-btn');

  $('.Video-nav-dot').on('click', function () {
    var slideToGo = $(this).data('slide');
    goToSlide(slideToGo);
  });

  $slider.on('slide.changed', function () {
    console.log('slide changed !');
    $('.Video-nav-dot').removeClass('active');
    var $activeDot = $('.Video-nav-dot[data-slide="' + $('.Video-panel._active').data('slide') + '"]');
    console.log();
    $activeDot.addClass('active');
  });

  $nextBtn.on('click', function (event) {
    nextSlide();
  });

  $prevBtn.on('click', function (event) {
    prevSlide();
  });

  function nextSlide() {
    $activeSlide = $slider.find('.Video-panel._active');
    var $nextSlide = $activeSlide.next('.Video-panel');
    $activeSlide.removeClass('_active');
    $nextSlide.addClass('_active');

    //$activeSlide = $nextSlide;

    var slideIndex = $slider.find('.Video-panel._active').index('.Video-panel');
    console.log(slideIndex);

    if (slideIndex >= numberOfSlides || slideIndex <= -1) {
      firstSlide();
      $slider.trigger('slide.changed');

    } else {
      $slider.trigger('slide.changed');
    }

  }

  function prevSlide() {
    $activeSlide = $slider.find('.Video-panel._active');

    var $prevSlide = $activeSlide.prev('.Video-panel');

    $activeSlide.removeClass('_active');
    $prevSlide.addClass('_active');

    var slideIndex = $slider.find('.Video-panel._active').index();
    console.log(slideIndex);

    if (typeof $prevSlide === 'undefined' || $prevSlide === null || $prevSlide.length == -1 || slideIndex <= -1) {
      lastSlide();
      $slider.trigger('slide.changed');
    } else {
      $slider.trigger('slide.changed');
    }

  }

  function firstSlide() {
    $('.Video-panel._active').removeClass('_active');
    $slider.find('.Video-panel:eq(0)').addClass('_active');
    $activeSlide = $slider.find('.Video-panel:eq(0)');

  }

  function lastSlide() {

    $('.Video-panel._active').removeClass('_active');
    $slider.find('.Video-panel').eq(numberOfSlides - 1).addClass('_active');

  }

  function goToSlide(slideToGo) {
    $('.Video-panel._active').removeClass('_active');
    $slider.find('.Video-panel').eq(slideToGo - 1).addClass('_active');
    $activeSlide = $slider.find('.Video-panel').eq(slideToGo - 1).addClass('_active');
    $slider.trigger('slide.changed');
  }

});
//# sourceURL=pen.js
    </script>
<!--Template-134-->
{{PutGoogleAnalytics}} 
</body>
</html>
