.archivebody 
{
width: 100%; margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.archivebyline 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #045DA1; font-size: 9px; text-decoration: none; text-transform: none; 
}
.archiveheading a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; color: #2771BA; font-size: 12px; text-decoration: none; text-transform: none; 
}
.archiveheading a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; color: #2771BA; font-size: 12px; text-decoration: none; text-transform: none; 
}
.archiveheading a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; color: #ff0000; font-size: 12px; text-decoration: underline; text-transform: none; 
}
.archiveissuedate 
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; color: #045DA1; font-size: 12px; text-decoration: none; text-transform: none; white-space: nowrap; 
}
.archivemore a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #1E4A7C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.archivemore a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #1E4A7C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.archivemore a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #ff0000; font-size: 11px; text-decoration: underline; 
}
.archivepages a:link
{
margin-top: 0px; margin-bottom: 0px; padding-top: 4px; padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-style: solid; border-top-color: #90B5DB; border-top-width: 1px; border-right-style: solid; border-right-color: #90B5DB; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #90B5DB; border-bottom-width: 1px; border-left-style: solid; border-left-color: #90B5DB; border-left-width: 1px; background-color: #ffffff; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.archivepages a:visited
{
margin-top: 0px; margin-bottom: 0px; padding-top: 4px; padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-style: solid; border-top-color: #90B5DB; border-top-width: 1px; border-right-style: solid; border-right-color: #90B5DB; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #90B5DB; border-bottom-width: 1px; border-left-style: solid; border-left-color: #90B5DB; border-left-width: 1px; background-color: #B1D1D0; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.archivepages a:hover
{
margin-top: 0px; margin-bottom: 0px; padding-top: 4px; padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-style: solid; border-top-color: #90B5DB; border-top-width: 1px; border-right-style: solid; border-right-color: #90B5DB; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #90B5DB; border-bottom-width: 1px; border-left-style: solid; border-left-color: #90B5DB; border-left-width: 1px; background-color: #CBE1E1; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: underline; text-transform: none; 
}
.archivephoto 
{
margin-top: 0px; margin-bottom: 0px; padding-right: 6px; text-decoration: none;  max-width: 490px; 
}
.archivephotocaption 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #045DA1; font-size: 9px; text-decoration: none; text-align: center; text-transform: none; 
}
.archiveruler 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 8px; border-top-style: dotted; border-top-color: #BED4D4; border-top-width: 1px; text-decoration: none; text-transform: none; 
}
.archivesourceline 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #045DA1; font-size: 9px; text-decoration: none; text-transform: none; 
}
body 
{
width: 1150px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; font-family: Roboto Condensed; color: #2771BA; font-size: 11px; font-weight: 300; text-decoration: none; text-transform: none; 
}
body a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #2f4457; font-weight: 500; text-decoration: none; text-transform: none; 
}
body a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #2f4457; font-weight: 500; text-decoration: none; text-transform: none; 
}
body a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; font-weight: 500; text-decoration: none; text-transform: none; 
}
.classifiedbody 
{
width: auto; margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; color: #033F6C; font-size: 18px; text-decoration: none; text-transform: none; 
}
.classifiedbody a:link
{
margin-top: 0px; margin-bottom: 0px; color: #033F6C; font-size: 18px; text-decoration: none; text-transform: none; 
}
.classifiedbody a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; font-size: 18px; text-decoration: none; text-transform: none; 
}
.classifiedbody a:hover
{
margin-top: 0px; margin-bottom: 0px; color: #ff0000; font-size: 18px; text-decoration: underline; text-transform: none; 
}
.classifiedbutton 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px; background-color: #C9DEDE; color: #2771BA; font-size: 18px; font-weight: bolder; text-decoration: none; text-align: center; text-transform: none; 
}
.classifiedcategory 
{
margin-top: 0px; margin-bottom: 0px; background-color: #C9DEDE; color: #2771BA; font-size: 18px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.classifiedheading 
{
margin-bottom: 8px; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; background-color: #4686C7; color: #ffffff; font-size: 18px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.classifiedphoto 
{
 max-width: 490px; 
}
.classifiedruler 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 8px; border-top-style: dotted; border-top-color: #2F586A; border-top-width: 1px; text-decoration: none; 
}
.column1 
{
margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; text-decoration: none; text-transform: none; 
}
.column10 
{
margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; text-decoration: none; 
}
.column2 
{
margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; text-decoration: none; text-transform: none; 
}
.column3 
{
margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; text-decoration: none; text-transform: none; 
}
.column4 
{
margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; text-decoration: none; text-transform: none; 
}
.column5 
{
margin-top: 0px; margin-bottom: 0px; text-decoration: none; 
}
.column6 
{
margin-top: 0px; margin-bottom: 0px; text-decoration: none; 
}
.column7 
{
margin-top: 0px; margin-bottom: 0px; text-decoration: none; 
}
.column8 
{
margin-top: 0px; margin-bottom: 0px; text-decoration: none; 
}
.column9 
{
margin-top: 0px; margin-bottom: 0px; text-decoration: none; 
}
.contactbody 
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 500; text-decoration: none; text-align: right; text-transform: none; 
}
.copyright 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 10px; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; text-transform: none; 
}
.copyright a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; text-transform: none; 
}
.copyright a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; text-transform: none; 
}
.copyright a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; text-transform: none; 
}
.date 
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 500; text-decoration: none; text-align: left; text-transform: none; 
}
.eventbody 
{
margin-bottom: 10px; color: #033F6C; font-size: 18px; text-decoration: none; text-align: left; text-transform: none; 
}
.eventdate 
{
margin-top: 0px; margin-bottom: 0px; padding-right: 10px; font-family: Verdana; color: #045DA1; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.eventheading 
{
margin-top: 0px; margin-bottom: 0px; margin-left: 10px; color: #3B80C5; font-size: 18px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.eventheading a:link
{
margin-top: 0px; margin-bottom: 0px; margin-left: 10px; color: #033F6C; font-size: 18px; text-decoration: none; text-transform: none; 
}
.eventheading a:visited
{
margin-top: 0px; margin-bottom: 0px; margin-left: 10px; color: #033F6C; font-size: 18px; text-decoration: none; text-transform: none; 
}
.eventheading a:hover
{
margin-top: 0px; margin-bottom: 0px; margin-left: 10px; font-family: Verdana; color: #FF0000; font-size: 18px; text-decoration: underline; text-transform: none; 
}
.eventruler 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 8px; border-top-style: dotted; border-top-color: #BED4D4; border-top-width: 1px; text-decoration: none; text-transform: none; 
}
.eventtitle 
{
margin-top: 0px; margin-bottom: 0px; margin-left: 10px; padding-bottom: 15px; color: #2771BA; font-size: 18px; font-weight: bolder; text-decoration: none; text-align: left; text-transform: none; 
}
.formbody 
{
width: auto; margin-top: 0px; margin-bottom: 0px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; background-color: #ffffff; font-family: Arial; color: #033F6C; font-size: 15px; text-decoration: none; text-transform: none; 
}
.formbutton 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px; background-color: #2771ba; font-family: Verdana; color: #2771BA; font-size: 14px; font-weight: bolder; text-decoration: none; text-align: center; text-transform: none; 
}
.formdivider 
{
margin-top: 10px; margin-bottom: 10px; padding-top: 3px; padding-bottom: 3px; border-top-style: solid; border-top-color: #2771BA; border-top-width: 2px; background-color: #C9DEDE; font-family: Arial; color: #2771BA; font-size: 15px; font-weight: bold; text-decoration: none; text-align: left; text-transform: none; 
}
.formfieldinput 
{
width: 250px; margin-bottom: 12px; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; border-top-style: solid; border-top-color: #c6c6c6; border-top-width: 1px; border-right-style: solid; border-right-color: #c6c6c6; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #c6c6c6; border-bottom-width: 1px; border-left-style: solid; border-left-color: #c6c6c6; border-left-width: 1px; font-family: Arial; color: #033F6C; font-size: 15px; font-weight: bold; text-decoration: none; text-transform: none; 
}
.formfieldinputfocus 
{
width: 250px; margin-bottom: 12px; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; border-top-style: solid; border-top-color: #959595; border-top-width: 1px; border-right-style: solid; border-right-color: #959595; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #959595; border-bottom-width: 1px; border-left-style: solid; border-left-color: #959595; border-left-width: 1px; background-color: #C9DEDE; font-family: Arial; color: #033F6C; font-size: 15px; font-weight: bold; text-decoration: none; text-transform: none; box-shadow: 0px 0px 8px #888888; 
}
.formfieldname 
{
margin-bottom: 8px; padding-right: 5px; font-family: Arial; color: #3B80C5; font-size: 15px; text-decoration: none; text-align: right; text-transform: none; 
}
.formruler 
{
margin-top: 0px; margin-bottom: 0px; text-decoration: none; 
}
.guestbookbody 
{
width: auto; margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.guestbookbutton 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px; background-color: #C9DEDE; font-family: Verdana; color: #2771BA; font-size: 14px; font-weight: bold; text-decoration: none; text-align: center; text-transform: none; 
}
.guestbookheading 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #2771BA; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.guestbookruler 
{
margin-top: 0px; margin-bottom: 0px; border-top-style: dotted; border-top-color: #BED4D4; border-top-width: 1px; text-decoration: none; text-transform: none; 
}
.headlines1body a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; line-height: 18px; 
}
.headlines1body a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.headlines1body a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #FF0000; font-size: 11px; text-decoration: underline; 
}
.headlines1body
 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; text-decoration: none; text-transform: none; 
}
.headlines1heading 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 8px; padding-bottom: 8px; font-family: Verdana; color: #2771BA; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.headlines1title 
{
margin-top: 0px; margin-bottom: 0px; padding-bottom: 5px; font-family: Verdana; color: #2771BA; font-size: 16px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.highlights1body a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #2F4457; font-size: 16px; font-weight: 500; text-decoration: none; text-transform: none; 
}
.highlights1body a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #2F4457; font-size: 16px; font-weight: 500; text-decoration: none; text-transform: none; 
}
.highlights1body a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #ff0000; font-size: 16px; font-weight: 500; text-decoration: underline; text-transform: none; 
}
.highlights1body
 
{
margin-bottom: 8px; background-color: #C9DEDE; color: #2F4457; font-size: 13px; text-decoration: none; text-transform: none; 
}
.highlights1heading 
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #2F4457; font-size: 18px; font-weight: 700; text-decoration: none; text-transform: none; 
}
.highlights1title 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid; border-bottom-color: #a3d5ea; border-bottom-width: 1px; background-color: #2f4457; font-family: Roboto Condensed; color: #ffffff; font-size: 20px; font-weight: 500; text-decoration: none; text-align: center; text-transform: none; 
}
.hitcounter 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; text-transform: none; 
}
.horoscopebody 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033f6c; font-size: 11px; text-decoration: none; text-transform: none; 
}
.horoscopedate 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #045DA1; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.horoscopeheading 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #2771BA; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.hrule 
{
margin-top: 0px; margin-bottom: 0px; border-top-style: dotted; border-top-color: #BED4D4; border-top-width: 1px; text-decoration: none; text-transform: none; 
}
.mainbody 
{
margin-top: 0px; margin-bottom: 0px; position: relative; 
}
.menubodydefault 
{
width: 150px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; border-top-style: solid; border-top-color: #A3D5EA; border-top-width: 1px; border-right-width: 0px; border-bottom-style: solid; border-bottom-color: #A3D5EA; border-bottom-width: 1px; border-left-width: 0px; background-color: #ffffff; font-family: Verdana; color: #2F4457; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase; white-space: normal; 
}
.menubodydefault a:link
{
width: 150px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; border-top-style: solid; border-top-color: #A3D5EA; border-top-width: 1px; border-right-width: 0px; border-bottom-style: solid; border-bottom-color: #A3D5EA; border-bottom-width: 1px; border-left-width: 0px; background-color: #ffffff; font-family: Verdana; color: #2F4457; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase; white-space: normal; 
}
.menubodydefault a:visited
{
width: 150px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; border-top-style: solid; border-top-color: #90B5DB; border-top-width: 1px; border-right-width: 0px; border-bottom-style: solid; border-bottom-color: #90B5DB; border-bottom-width: 1px; border-left-width: 0px; background-color: #ffffff; font-family: Verdana; color: #2F4457; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase; white-space: normal; 
}
.menubodydefault a:hover
{
width: 150px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; border-top-style: solid; border-top-color: #90B5DB; border-top-width: 1px; border-right-width: 0px; border-bottom-style: solid; border-bottom-color: #90B5DB; border-bottom-width: 1px; border-left-width: 0px; background-color: #ffffff; font-family: Verdana; color: #FF0000; font-size: 12px; font-weight: bold; text-decoration: underline; text-transform: uppercase; white-space: normal; 
}
.menubodyhorizontal 
{
margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 0px; background-color: #495e71; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; text-align: center; text-transform: uppercase; white-space: normal; position: static;
}
.menubodyhorizontal a:link
{
margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 0px; background-color: #495e71; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; text-align: center; text-transform: uppercase; 
}
.menubodyhorizontal a:visited
{
margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 0px; background-color: #495e71; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; text-transform: uppercase; 
}
.menubodyhorizontal a:hover
{
margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 0px; background-color: #495E71; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; text-align: center; text-transform: uppercase; white-space: normal; 
}
.menubodyvertical 
{
width: 140px; margin-top: 0px; margin-right: 0px; margin-bottom: 4px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 8px; border-top-style: solid; border-top-color: #90B5DB; border-top-width: 1px; border-right-style: solid; border-right-color: #90B5DB; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #90B5DB; border-bottom-width: 1px; border-left-style: solid; border-left-color: #90B5DB; border-left-width: 1px; background-color: #C9DEDE; font-family: Verdana; color: #2771BA; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase; white-space: normal; 
}
.menubodyvertical a:link
{
width: 140px; margin-top: 0px; margin-right: 0px; margin-bottom: 4px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 8px; border-top-style: solid; border-top-color: #2771BA; border-top-width: 1px; border-right-style: solid; border-right-color: #2771BA; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #2771BA; border-bottom-width: 1px; border-left-style: solid; border-left-color: #2771BA; border-left-width: 1px; background-color: #ABD3FD; font-family: Verdana; color: #2771BA; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase; white-space: normal; 
}
.menubodyvertical a:visited
{
width: 140px; margin-top: 0px; margin-right: 0px; margin-bottom: 4px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 8px; border-top-style: solid; border-top-color: #90B5DB; border-top-width: 1px; border-right-style: solid; border-right-color: #90B5DB; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #90B5DB; border-bottom-width: 1px; border-left-style: solid; border-left-color: #90B5DB; border-left-width: 1px; background-color: #C9DEDE; font-family: Verdana; color: #2771BA; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase; 
}
.menubodyvertical a:hover
{
width: 140px; margin-top: 0px; margin-right: 0px; margin-bottom: 4px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 8px; border-top-style: solid; border-top-color: #2771BA; border-top-width: 1px; border-right-style: solid; border-right-color: #2771BA; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #2771BA; border-bottom-width: 1px; border-left-style: solid; border-left-color: #2771BA; border-left-width: 1px; background-color: #ABD3FD; font-family: Verdana; color: #2771BA; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase; white-space: normal; 
}
.menuborderdefault 
{
margin-top: 0px; margin-bottom: 0px; 
}
.menuborderhorizontal 
{
margin-top: 0px; margin-bottom: 0px; z-index: 99 !important; 
}
.menubordervertical 
{
margin-top: 0px; margin-bottom: 0px; 
}
.mobilebody 
{
width: 95%; margin-top: 0px; margin-bottom: 0px; background-image: url(none); background-color: #ffffff; font-family: Verdana; color: #000066; font-size: 11px; text-decoration: none; 
}
.opinionbody 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 5px; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.opinionbody a:link
{
margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; font-family: Verdana; color: #033F6C; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.opinionbody a:visited
{
margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; font-family: Verdana; color: #033F6C; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.opinionbody a:hover
{
margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; font-family: Verdana; color: #ff0000; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.opinionbutton 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px; background-color: #C9DEDE; font-family: Verdana; color: #2771BA; font-size: 14px; font-weight: bold; text-decoration: none; text-align: center; text-transform: none; 
}
.opinionheading 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 8px; padding-bottom: 8px; font-family: Verdana; color: #2771BA; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.opinionruler 
{
margin-top: 0px; margin-bottom: 0px; padding-bottom: 8px; border-top-style: dotted; border-top-color: #D4E7EE; border-top-width: 1px; text-decoration: none; 
}
.opiniontitle 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 8px; padding-bottom: 8px; padding-left: 3px; border-top-style: solid; border-top-color: #2771BA; border-top-width: 2px; background-color: #C9DEDE; font-family: Verdana; color: #2771BA; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.pagebody 
{
margin-top: 0px; margin-bottom: 0px; padding-bottom: 8px; font-family: Roboto Condensed; color: #033F6C; font-size: 16px; font-weight: 500; text-decoration: none; text-align: left; text-transform: none; overflow:hidden;
}
.pagebyline 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #045DA1; font-size: 9px; text-decoration: none; text-transform: none; display: inline-block; 
}
.pagedropcap 
{
margin-top: 0px; margin-bottom: 0px; padding-right: 4px; font-size: 44px; font-weight: bolder; text-decoration: none; line-height: 38px; float: left; 
}
.pageheading 
{
margin-top: 0px; margin-bottom: 0px; padding-bottom: 6px; font-family: Roboto Condensed; color: #2f4457; font-size: 22px; font-weight: bold; text-decoration: none; text-align: left; text-transform: none; 
}
.pageheading a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #2f4457; font-size: 16px; font-weight: bold; text-decoration: none; text-transform: none; 
}
.pageheading a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #2f4457; font-size: 16px; font-weight: bold; text-decoration: none; text-transform: none; 
}
.pageheading a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #ff0000; font-size: 16px; font-weight: bold; text-decoration: underline; text-transform: none; 
}
.pagehover 
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; font-size: 15px; 
}
.pageissuedate 
{
margin-top: 0px; margin-bottom: 0px; font-family: Roboto Condensed; color: #045DA1; font-size: 12px; font-weight: 500; text-decoration: none; text-transform: none; display: inline-block; 
}
.pagemore a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #1E4A7C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.pagemore a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #1E4A7C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.pagemore a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #ff0000; font-size: 11px; text-decoration: underline; 
}
.pagenotselected 
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; font-size: 15px; 
}
.pagephoto 
{
margin-top: 0px; margin-bottom: 0px; padding-right: 6px; text-decoration: none;  max-width: 490px; 
}
.pagephotocaption 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #045DA1; font-size: 9px; text-decoration: none; text-align: center; text-transform: none; 
}
.pageruler 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 8px; border-top-style: dotted; border-top-color: #BED4D4; border-top-width: 1px; text-decoration: none; text-transform: none; 
}
.pageselected 
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; font-size: 15px; 
}
.pagesourceline 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #045DA1; font-size: 9px; font-style: italic; text-decoration: none; text-transform: none; 
}
.pagesubmenu 
{
margin-bottom: 8px; padding-top: 5px; padding-bottom: 5px; background-color: #C9DEDE; font-family: Verdana; color: #2771BA; font-size: 12px; font-weight: bolder; text-decoration: none; text-align: center; text-transform: none; 
}
.pagesubmenunavigation 
{
margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; font-family: Verdana; color: #000066; font-size: 11px; text-decoration: none; 
}
.polls1body 
{
width: auto; margin-bottom: 8px; background-color: #C9DEDE; font-family: Verdana; color: #2F4457; font-size: 13px; text-decoration: none; text-transform: none; 
}
.polls1button 
{
margin-top: 10px; margin-bottom: 15px; background-color: #C9DEDE; font-family: Verdana; color: #2F4457; font-size: 13px; font-weight: bold; text-decoration: none; text-transform: none; 
}
.polls1question 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; background-color: #C9DEDE; font-family: Roboto Condensed; color: #2F4457; font-size: 16px; font-weight: 500; text-decoration: none; text-transform: none; 
}
.polls1title 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid; border-bottom-color: #a3d5ea; border-bottom-width: 1px; background-color: #2F4457; font-family: Roboto Condensed; color: #ffffff; font-size: 20px; font-weight: 500; text-decoration: none; text-align: center; text-transform: none; 
}
.popupgeneralbody 
{
margin-top: 0px; margin-bottom: 0px; border-color: #605a4b; 
}
.productbody 
{
width: auto; margin-bottom: 10px; background-color: #ffffff; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.productbody a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.productbody a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.productbody a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #FF0000; font-size: 11px; text-decoration: underline; 
}
.productbutton 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px; background-color: #C9DEDE; font-family: Verdana; color: #2771BA; font-size: 14px; font-weight: bolder; text-decoration: none; text-align: center; text-transform: none; 
}
.productcategory 
{
margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; font-family: Verdana; color: #2F586A; font-size: 11px; font-weight: bolder; text-decoration: none; 
}
.productphoto 
{
 max-width: 490px; 
}
.productruler 
{
margin-top: 0px; margin-bottom: 0px; border-top-style: dotted; border-top-color: #BED4D4; border-top-width: 1px; text-decoration: none; text-transform: none; 
}
.producttablebody 
{
margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; font-family: Verdana; color: #2771BA; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.producttableheading 
{
margin-top: 0px; margin-bottom: 0px; background-color: #2771BA; font-family: Verdana; color: #ffffff; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.propertiesbody 
{
width: auto; margin-top: 0px; margin-bottom: 0px; background-color: #ffffff; font-family: Verdana; color: #033f6c; font-size: 11px; text-decoration: none; text-transform: none; 
}
.propertiesbody a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.propertiesbody a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.propertiesbody a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #ff0000; font-size: 11px; text-decoration: underline; text-transform: none; 
}
.propertiesbutton 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px; background-color: #C9DEDE; font-family: Verdana; color: #2771BA; font-size: 14px; font-weight: bolder; text-decoration: none; text-align: center; text-transform: none; 
}
.propertiesphoto 
{
 max-width: 490px; 
}
.propertiesruler 
{
margin-top: 0px; margin-bottom: 0px; border-top-style: dotted; border-top-color: #BED4D4; border-top-width: 1px; text-decoration: none; text-transform: none; 
}
.propertiessearchbody 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #3B80C5; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.propertiessearchheading 
{
margin-top: 0px; margin-bottom: 0px; background-color: #4686C7; font-family: Verdana; color: #ffffff; font-size: 11px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.sbinput 
{
width: 72px; height: 21px; margin-top: 0px; margin-bottom: 0px; background-image: url(/images/search_blue.gif); background-repeat: no-repeat; text-decoration: none; text-align: right; text-transform: none; display: block; 
}
.sharebody 
{
margin-top: 0px; margin-bottom: 0px; font-family: Verdana; color: #033F6C; font-size: 11px; text-decoration: none; text-transform: none; 
}
.shareheading 
{
margin-top: 0px; margin-bottom: 0px; padding-bottom: 6px; font-family: Verdana; color: #2771BA; font-size: 16px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.smbody 
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; font-size: 15px; text-decoration: none; 
}
.smbody a:link
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; font-size: 15px; text-decoration: none; text-transform: none; 
}
.smbody a:visited
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; font-size: 15px; text-decoration: none; 
}
.smbody a:hover
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; font-size: 15px; text-decoration: none; text-transform: none; 
}
.smrecordsbody 
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; font-size: 15px; text-decoration: none; text-transform: none; 
}
.smrecordstitle 
{
margin-top: 0px; margin-bottom: 0px; font-family: Arial; font-size: 15px; text-decoration: none; text-transform: none; 
}
.spbody 
{
width: auto; margin-top: 0px; margin-bottom: 0px; margin-left: 10px; background-color: #ffffff; color: #033f6c; font-size: 18px; text-decoration: none; text-transform: none; 
}
.spbutton 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px; background-color: #C9DEDE; color: #2771BA; font-size: 18px; font-weight: bolder; text-decoration: none; text-align: center; text-transform: none; 
}
.spdivider 
{
margin-top: 15px; margin-right: 0px; margin-bottom: 8px; margin-left: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; background-color: #C9DEDE; color: #2771BA; font-size: 18px; font-weight: 500; text-decoration: none; text-transform: none; 
}
.spfieldinput 
{
width: 250px; margin-bottom: 8px; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; border-top-style: solid; border-top-color: #c6c6c6; border-top-width: 1px; border-right-style: solid; border-right-color: #c6c6c6; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #c6c6c6; border-bottom-width: 1px; border-left-style: solid; border-left-color: #c6c6c6; border-left-width: 1px; color: #033F6C; font-size: 18px; font-weight: bold; text-decoration: none; text-transform: none; 
}
.spfieldinputfocus 
{
width: 250px; margin-bottom: 8px; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; border-top-style: solid; border-top-color: #959595; border-top-width: 1px; border-right-style: solid; border-right-color: #959595; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #959595; border-bottom-width: 1px; border-left-style: solid; border-left-color: #959595; border-left-width: 1px; background-color: #C9DEDE; color: #033F6C; font-size: 18px; font-weight: bold; text-decoration: none; text-transform: none; box-shadow: 0px 0px 8px #888888;
}
.spfieldname 
{
margin-bottom: 8px; padding-right: 5px; background-color: #ffffff; color: #4686C7; font-size: 18px; text-decoration: none; text-transform: none; 
}
.spinstructions 
{
margin-top: 3px; margin-bottom: 3px; color: #033F6C; font-size: 18px; text-decoration: none; text-transform: none; 
}
.spruler 
{
margin-top: 0px; margin-bottom: 0px; border-top-style: dotted; border-top-color: #BED4D4; border-top-width: 1px; text-decoration: none; text-transform: none; 
}
.stickybottom 
{
margin-top: 0px; margin-bottom: 0px; right: 0px; bottom: 0px; left: 0px; position: fixed; display: none; z-index: 9999; 
}
.stickyclose 
{
margin-top: 0px; margin-bottom: 0px; visibility: visible; 
}
.stickyheader 
{
margin-top: 0px; margin-bottom: 0px; display: block; 
}
.stickyleft 
{
width: 50px; margin-top: 0px; margin-bottom: 0px; top: 200px; left: 0px; position: fixed; display: none; z-index: 9999; 
}
.stickyminimize 
{
margin-top: 0px; margin-bottom: 0px; visibility: visible; 
}
.stickyright 
{
width: 50px; margin-top: 0px; margin-bottom: 0px; top: 200px; right: 0px; position: fixed; display: none; z-index: 9999; 
}
.stickytop 
{
margin-top: 0px; margin-bottom: 0px; top: 0px; right: 0px; left: 0px; position: fixed; display: none; z-index: 9999; 
}
.submenubodydefault a:link
{
width: 150px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #ffffff; font-family: Verdana; font-size: 11px; text-decoration: none; text-transform: none; white-space: normal; display: block; 
}
.submenubodydefault a:active
{
width: 150px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #ffffff; font-family: Verdana; color: #045DA1; font-size: 11px; text-decoration: none; text-transform: none; display: block; 
}
.submenubodydefault a:visited
{
width: 150px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #ffffff; font-family: Verdana; color: #045DA1; font-size: 11px; text-decoration: none; text-transform: none; white-space: normal; display: block; 
}
.submenubodydefault a:hover
{
width: 150px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; font-family: Verdana; color: #ff0000; font-size: 11px; text-decoration: underline; text-transform: none; white-space: normal; display: block; 
}
.submenubodydefault 
{
margin-top: 0px; margin-bottom: 0px; 
}
.submenubodyhorizontal 
{
width: auto; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 5px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #2F4457; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 500; text-decoration: none; text-align: left; text-transform: none; white-space: nowrap; display: block; 
}
.submenubodyhorizontal a:link
{
width: auto; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 5px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #2F4457; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 500; text-decoration: none; text-align: left; text-transform: none; display: block; 
}
.submenubodyhorizontal a:visited
{
width: auto; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 5px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #2F4457; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 500; text-decoration: underline; text-align: left; text-transform: none; white-space: nowrap; display: block; 
}
.submenubodyhorizontal a:hover
{
width: auto; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 6px; padding-right: 0px; padding-bottom: 6px; padding-left: 5px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #495E71; font-family: Roboto Condensed; color: #ffffff; font-size: 16px; font-weight: 500; text-decoration: none; text-align: left; text-transform: none; white-space: nowrap; display: block; 
}
.submenubodyvertical 
{
width: 140px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 8px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #ffffff; font-family: Verdana; color: #045DA1; font-size: 11px; font-weight: normal; text-decoration: none; text-align: left; text-transform: none; white-space: normal; display: block; 
}
.submenubodyvertical a:link
{
width: 140px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 8px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #2771BA; font-family: Verdana; color: #ffffff; font-size: 11px; font-weight: normal; text-decoration: none; text-align: left; text-transform: none; white-space: normal; display: block; 
}
.submenubodyvertical a:visited
{
width: 140px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 8px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #2771BA; font-family: Verdana; color: #ffffff; font-size: 11px; font-weight: normal; text-decoration: underline; text-align: left; text-transform: none; display: block; 
}
.submenubodyvertical a:hover
{
width: 140px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 3px; padding-left: 8px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #2771BA; font-family: Verdana; color: #ffffff; font-size: 11px; font-weight: normal; text-decoration: none; text-align: left; text-transform: none; white-space: normal; display: block; 
}
.submenuborderhorizontal 
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-color: #2F4457; 
}
.submenubordervertical 
{
margin-top: 0px; margin-bottom: 0px; border-style: solid; border-color: #2771BA; border-width: 1px; 
}
.toplink 
{
width: 25px; height: 25px; margin-top: 0px; margin-bottom: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-image: url(/images/toplink_blue.gif); background-repeat: no-repeat; background-color: #ffffff; text-decoration: none; text-transform: none; display: block; 
}
.ustyles 
{
width: 73px; height: 21px; margin-top: 0px; margin-bottom: 0px; border-top-style: solid; border-top-color: #90B5DB; border-top-width: 1px; border-right-style: solid; border-right-color: #90B5DB; border-right-width: 1px; border-bottom-style: solid; border-bottom-color: #90B5DB; border-bottom-width: 1px; border-left-style: solid; border-left-color: #90B5DB; border-left-width: 1px; background-image: url(/images/userstyle_blue.gif); background-repeat: no-repeat; background-color: #ffffff; text-decoration: none; text-transform: none; line-height: 21px; 
}
.vrule 
{
margin-top: 0px; margin-bottom: 0px; border-left-style: dotted; border-left-color: #BED4D4; border-left-width: 1px; background-color: #ffffff; text-decoration: none; text-transform: none; 
}
.yellowpagesbody 
{
width: auto; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; background-color: #ffffff; color: #033F6C; font-size: 20px; text-decoration: none; text-transform: none; 
}
.yellowpagesbody a:link
{
margin-top: 0px; margin-bottom: 0px; color: #033F6C; font-size: 20px; text-decoration: none; text-transform: none; 
}
.yellowpagesbody a:visited
{
margin-top: 0px; margin-bottom: 0px; color: #033F6C; font-size: 20px; text-decoration: none; text-transform: none; 
}
.yellowpagesbody a:hover
{
margin-top: 0px; margin-bottom: 0px; color: #FF0000; font-size: 20px; text-decoration: underline; text-transform: none; 
}
.yellowpagesbutton 
{
margin-top: 0px; margin-bottom: 0px; padding-top: 3px; padding-bottom: 3px; background-color: #C9DEDE; font-family: Verdana; color: #2771BA; font-size: 14px; font-weight: bolder; text-decoration: none; text-align: center; text-transform: none; 
}
.yellowpagescategory 
{
margin-top: 0px; margin-bottom: 0px; background-color: #C9DEDE; color: #2771BA; font-size: 20px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.yellowpagesheading 
{
margin-top: 0px; margin-bottom: 0px; background-color: #2771BA; color: #ffffff; font-size: 20px; font-weight: bolder; text-decoration: none; text-transform: none; 
}
.yellowpagesphoto 
{
 max-width: 490px; 
}
.yellowpagesruler 
{
margin-top: 0px; margin-bottom: 0px; padding-bottom: 8px; border-top-style: dotted; border-top-color: #BED4D4; border-top-width: 1px; text-decoration: none; text-transform: none; 
}

.adrefresh
{
height:auto; width:auto; display:none; margin:0; padding:0;
}
.dhtmlwindow{position: absolute;border-left: 14px solid #605a4b;border-right: 14px  solid #605a4b;visibility: hidden;background-color: #ffffff;padding: 0px;margin: 0px;}.drag-handle{background-color: #605a4b;color: #FFFFFF;border-width: 0px;font-family: verdana;font-size: 12px;height: 14px}.drag-statusarea{border-top: 1px solid gray;height: 14px;background-color: #605a4b;}#interVeil{position: absolute;background-color: #B7AEAE;width: 10px;left: 0;top: 0;z-index: 100;visibility: hidden;filter:progid:DXImageTransform.Microsoft.alpha(opacity=60);opacity: 0.6;}
.pagerCurrent{border: 1px  solid ;background-color: ;color: ;font-size: 12px;font-family: Verdana;padding: 5px;text-decoration: none;cursor: default;display: block;float: left;}
.pagerDefault{border: 1px  solid ;background-color: ;color: ;margin-right: 2px;font-size: 12px;font-family: Verdana;padding: 5px;text-decoration: none;cursor: pointer;display: block;float: left;}
.pagerDefault:link{border: 1px  solid ;background-color: ;color: ;margin-right: 2px;font-size: 12px;font-family: Verdana;padding: 5px;text-decoration: none;cursor: pointer;display: block;float: left;}
.pagerDefault:visited{border: 1px  solid ;background-color: ;color: ;margin-right: 2px;font-size: 12px;font-family: Verdana;padding: 5px;text-decoration: none;cursor: pointer;display: block;float: left;}
.pagerDefault:hover{border: 1px  solid ;background-color: ;color: ;font-size: 12px;font-family: Verdana;padding: 5px;text-decoration: none;cursor: pointer;}
#UserStyles {margin: 0px;padding: 0px;display: inline-table;}
#UserStyles ul {padding: 0px;margin: 0px;}
#UserStyles li {text-align: right;position: relative;float: left;list-style: none;margin: 0px;padding: 0px;}
#UserStyles li a {width: 73px;display: block;text-decoration: none;line-height: 21px;font-weight: normal;font-size: 10px;background-color: #ffffff;background-image: url('/images/userstyle_blue.gif');}
#UserStyles ul ul {position: absolute;visibility: hidden;border-top-color: #90B5DB;border-right-color: #90B5DB;border-bottom-color: #90B5DB;border-left-color: #90B5DB;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;background-color: #ffffff;padding: 10px;margin: 0px;height: 20px;}
#UserStyles ul li:hover ul {visibility: visible;}
#UserStyles li li a {border: 0px;display: inline;background-image: none;background-color: #ffffff;}
#UserStyles td {padding-right: 10px;}
.cse .gsc-control-cse, .gsc-control-cse {padding: 0em; width: auto;}.RAccess1{}
.RAccess44{}
.RAccess92{display: none;}
.RAccess93{}
.RAccess94{}
.RAccess96{}
.RAccess97{}
.RAccess98{}
.RAccess99{}
.RAccess100{}
.RAccess101{}
.RAccess102{}
.RAccess103{}
.RAccess104{}

.highslide {
    cursor: url(highslide/graphics/zoomin.cur), pointer;
    outline: none;
    text-decoration: none;
}

.highslide img 
{
	border: 2px solid gray;
}

#thumbBox
{
    PADDING-RIGHT: 7px;
    PADDING-LEFT: 7px;
    Z-INDEX: 100;
    BACKGROUND: #313131;
    LEFT: 0px;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 0px;
    WIDTH: auto;
    CURSOR: pointer;
    PADDING-TOP: 7px;
    POSITION: absolute;
    TOP: 0px
}
#thumbBox .footerbar
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    FONT: bold 12px Tahoma;
    COLOR: white;
    PADDING-TOP: 0px;
    LETTER-SPACING: 0px;
    TEXT-ALIGN: right
}
#thumbBox #thumbImage
{
    BACKGROUND-COLOR: white
}
#thumbLoading
{
    BORDER-RIGHT: black 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 5px;
    Z-INDEX: 5;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 1px solid;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: black 1px solid;
    POSITION: absolute;
    BACKGROUND-COLOR: #efefef
}
