{{PutDocType}}
<html>
<head>
{{PutCharset}}
{{PutMetaTitle}}
{{PutMetaKeyword}}
{{PutMetaDescription}}
{{PutNoIndex}}
<link rel="shortcut icon" href="{{PutHName}}/favicon.ico"><script type="text/javascript" language="javascript" src="/bl.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/Gallery/jquery.ad-gallery.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/Watermark/jquery.watermarkinput.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/CSSMessageBox/js/jquery.ui.draggable.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/CSSMessageBox/js/jquery.alerts.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/calendar/jquery.datepick.js"></script>
<link rel="stylesheet" type="text/css" href="/JQuery/calendar/jquery.datepick.css">
<script type="text/javascript" language="javascript" src="{{PutHName}}{{PutTFolder}}.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/tooltip.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js'></script>
<link rel="stylesheet" href="{{PutHName}}/tooltip.css" type="text/css">
<link rel="stylesheet" href="/JQuery/CSSMessageBox/css/jquery.alerts.css">
<script type="text/javascript" src="/JQuery/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/JQuery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/JQuery/fancybox/jquery.fancybox-1.3.4.css" media="screen">
<script type="text/javascript" language="javascript" src="/JQuery/Gallery3/jqFancyTransitions.js"></script>
<link rel="stylesheet" href="/JQuery/Gallery3/jqFancyTransitions.css" type="text/css">
<script type ="text/javascript" src="/JQuery/Highlight8/jssor.js"></script>
<script type ="text/javascript" src="/JQuery/Highlight8/jssor.slider.js"></script>
<link type="text/css" rel="stylesheet" href="/JQuery/Highlight8/jssor_style.css">
<script type="text/javascript" language="javascript" src="/AdsPeeler/swfobject.js"></script>
<script type="text/javascript" language="javascript" src="/AdsPeeler/AC_OETags.js"></script>
<script type="text/javascript" language="javascript" src="/AdsPeeler/pageear.js"></script>
<!--[if lt IE 9]><script type="text/javascript" language="javascript" src="/JQuery/ToolTip/js/excanvas/excanvas.js"></script><![endif]-->
<script type="text/javascript" language="javascript" src="/JQuery/ToolTip/js/spinners/spinners.js"></script>
<script type="text/javascript" language="javascript" src="/JQuery/ToolTip/js/tipped/tipped.js"></script>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/JQuery/ToolTip/css/tipped.css" type="text/css">
<link type="text/css" rel="stylesheet" href="{{PutHName}}/style.css">
<link type="text/css" rel="stylesheet" href="{{PutHName}}/Layout.css">
<link rel="stylesheet" href="/JQuery/popup1/popup1.css" type="text/css">
<script src="/JQuery/popup1/popup1.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/Menus-Horizontal1.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/Menus-Footer61.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/jscript.js"></script>
<script type="text/javascript" language="javascript" src="{{PutHName}}/custom.js"></script>
<link type="text/css" rel="stylesheet" href="{{PutHName}}/custom.css">
<link href='https://fonts.googleapis.com/css?family=Germania+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--StartMH-->
<!--MetaSharing-->
<!--EndMH-->
{{PutHeadSection}}
</head>
<body id="blbodymain">
{{PutGoogleCustomSearch}}
<div class="main_wrapper">
<div class="wrapper_holder">
<div class="c1">
<div class="c2">
<div id="top_links">
<div class="link1"><a class="toplinks" href="{{PutHName}}/index0.htm?twindow=ServicePackage&smenu=76&mad=No&sname=target_service_package.asp">SUBSCRIBE</a></div>
<div class="link1 LOGIN"><a class="toplinks" href="{{PutHName}}/index0.htm?sname=target_form.asp&pform={{Login}}">LOGIN</a></div>
<div class="link1 LOGOUT"><a class="toplinks" target="_top" onclick="eraseCookie('loginStatus');alert('You have logged out successfully');" href="#">LOGOUT</a></div>
<div class="link1"><a class="toplinks" href="{{PutHName}}/about-us-p187-147.htm">ABOUT US</a></div>
<div class="link1"><a class="toplinks" href="/target_form2.asp?smenu=148&pform=ContactUs">CONTACT US</a></div>
</div>
<div id="weadther">{{PutAdGroup15}}</div>
<!-- BEGIN: Google  -->
<div id="google">
<div class="Google_search_box"><gcse:searchbox></gcse:searchbox></div>
<div class="Google_search_results"><gcse:searchresults></gcse:searchresults></div>
</div>
<!-- END: Google  -->
<!-- BEGIN: Socila icon -->
<div id="social">
<div id="social_icon">
<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
</div>
<div id="social_icon">
<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
</div>
<div id="social_icon">
<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
</div>
<div id="social_icon">
<a href="{{PutHName}}/headlines.rss"><i class="fa fa-rss"></i></a>
</div>
</div>
<!-- END: Socila icon -->
</div>
<!-- BEGIN: Logo and Ag14 -->
<div class="c3">
<div class="c4">{{PutLogo}}</div>
<div class="c5">{{PutAdGroup14}}</div>
</div>
<!-- END: Logo and Ag14 -->
</div>
<div style="clear:both;"></div>
</div>
<!-- BEGIN:menu-horizontal -->
<div class="c6">
<div class="c7 column6"><script type="text/javascript" language="JavaScript">GetHorizontalMenu1();</script></div>
</div>
<!-- END: menu-horizontal -->
<!-- BEGIN: maincontent -->
<div class="c15">
<div class="c16">
<div class="left">
<div class="c17"> {{PutMainContent}} </div>
</div>
<!-- END: maincontent -->
<!-- BEGIN: Highlight5,and Ad11 And poll -->
<div class="right">
<div class="cc18">
<div class="highlight5">{{PutHighlight5}}</div>
<div class="adg11">{{PutAdGroup11}}</div>
<div class="adg11">{{PutAdGroup13}}</div>
<div class="poll1">{{PutPoll1}}</div>
</div>
</div>
</div>
<!-- END: Highlight5,and Ad11 And poll -->
</div>
<!-- BEGIN: Foter -->
<div class="c20">
<div class="c21">
<div class="logo_wrapper">
<div class="c22">{{PutLogo}}</div>
<div class="cc23">{{PutContactInformation}}</div>
</div>
<div class="c23">{{PutArticleGroup1}}</div>
<div class="c24">
<div id="social_bottom">
<div id="social_icon_heading">Connect With US</div>
<div class="social_icon_bottom facebook">
<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
</div>
<div class="social_icon_bottom">
<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
</div>
<div class="social_icon_bottom">
<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
</div>
<div class="social_icon_bottom">
<a href="https:///bulletlink/template-112.com{{PutHName}}/headlines.rss"><i class="fa fa-rss"></i></a>
</div>
</div>
<div class="hitcounter_bottom">{{PutHitCounter}}</div>
<div class="site_map_bottom">{{PutSiteMap}}</div>
</div>
</div>
</div>
<!-- END: Foter -->
<div class="c25">
<div class="c26">
<center>
{{PutPoweredBy}}
</center>
</div>
</div>
<div>{{PutGoogleAnalytics}}</div>
<div style="clear:both;"></div>
</div>
<!--Template-112-->
</body>
</html>
