/* *** BEGIN: General Responsive CSS *** */

@media screen and (max-width: 768px) {
.header {
    width: 100%;
}
.breaking-news {
    display: none;
}
.social {
  box-sizing: border-box;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 78vw;
  line-height:40px;
  height:auto;
}
.search {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 11vw;
  line-height:40px;
  height:auto;
}
.searchIcons i {
  float: left;
  line-height: 40px;
  width: 11vw;
}
.searchIcons {
  float: left;
  padding-right: 0;
}
.searchIcons i {
  float: left;
  line-height: 40px;
  width: 11vw;
}
.social a:link, .social a:visited {
    margin-left: 10px;
}
.mainbody {
    float: left;
    overflow: hidden;
    width: 100%;
}
.innerWrapper {
    box-shadow: none;
}
.logo_ad {
  width: 100vw !important;
}
.logo > a:link, .logo > a:visited {
  font-size: 8vw;
  line-height: normal;
}
.logo_ad_container {
  border-bottom: 2px solid #c42721;
  border-left: 1px solid #c42721;
  border-right: 1px solid #c42721;
  box-sizing: border-box;
  padding: 10px 2vw;
  width: 100vw;
flex-direction: column;
}
.custom_adgroup_14 {
  max-width: 96vw;
}
.AdGroup14 {
  display: block;
  width: auto;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
#logo > img {
    max-width: 96vw;
}
.menu_content.column6 {
    display: none;
}
.wrapper {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
    width: 96vw !important;
}
.footer {
    border-left-width: 0;
    border-right-width: 0;
    width: 100%;
}
.mainContent {
    width: 96vw !important;
}
.first-column {
    width: 96vw !important;
}
.second-column {
    margin-left: auto;
    margin-right: auto;
    width: 96vw !important;
}
#H2 {
    float: left;
    width: 96vw;
	margin-bottom:30px;
}
.H2.uncommentbig {
    border-bottom-width: 0;
    width: 96vw;
}
.H2.uncommentbig .H2_img {
    height: auto;
    width: 96vw;
}
.H2:hover .H2_img::before {
  display: none;
}
.H2.uncommentbig .H2_img img {
    float: left;
    max-height: 64vw;
    max-width: 96vw;
}
.H2.uncommentbig .H2_heading > a:link, .H2.uncommentbig .H2_heading > a:visited {
    font-size: 18px;
    line-height: 20px;
}
.H2.uncommentbig .H2_heading {
    line-height: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: auto;
    width: 94vw;
}
.H2.uncommentbig .H2_submenu {
	margin-left:0;
}
.H2.uncommentbig .H2_issue_date {
	right:0;
}
.H2_separate {
    font-size: 20px;
    line-height: 40px;
}
.H2_day {
    font-size: 20px;
    line-height: 40px;
}
.H2_month_year > span {
    font-size: 10px;
}
.H2 {
    background-color: #ebebeb;
    border-bottom: 2px solid;
    width: 96vw;
}
.H2_img {
    height: auto;
    width: 96vw;
}
.H2_img img {
    max-height: 64vw;
    max-width: 96vw;
}
.H2:hover > .H2_img img, .H2_container > a:hover .H2_img > img {
  transform: none;
}
.H2_heading {
    margin-top: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 92vw;
}
.H2_body {
    padding-left: 2vw;
    padding-right: 2vw;
    width: 92vw;
}
.H2_more {
    margin-bottom: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 92vw;
}
.H2_issue_date {
    padding-left: 2vw;
    padding-right: 2vw;
}
.load_more > span {
    box-sizing: border-box;
    float: none;
    line-height: 30px;
    padding: 6px 4vw;
    text-align: center;
    width: 60vw;
}
.m-breaking-news {
  display: block;
  float: left;
  margin-bottom: 20px;
}

.Breaking_News span span::after {
    display: none;
}
.Breaking_News span span {
    color: #333333;
    text-shadow: 0 0 0 black;
}
.Breaking_News .bn-label {
    background-color: transparent;
    font-size: 15px;
	padding:0;
}

.Breaking_News .bn-label::after {
  background-color: #084B8A;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 0;
}
.Breaking_News .bn-label {
  border-left: 4px solid #084B8A;
  box-sizing: border-box;
  float: left;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.Breaking_News ul li {
  color: #084B8A;
  list-style: outside;
}
.css_ticker {
  box-shadow: none;
  transition-duration: 0s;
}
.Breaking_News ul {
  animation: 0s ease 0s normal none 1 running none;
  margin-left: 6vw;
  margin-top: 0;
  padding-left: 0;
  width: auto;
}
.Breaking_News {
    background-color: transparent;
    height: auto;
    width: 96vw;
}
.Breaking_News ul li a {
    color: black;
    font-weight: normal;
	line-height:22px;
}
.Breaking_News ul li a:hover {
    color: red;
}
.Breaking_News span span {
  background-color: white;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.trending-now {
    margin-bottom: 30px;
    width: 96vw;
}
.article-section-container {
  margin-bottom: 0;
}
.H4_heading {
    width: auto;
}
.H4_container {
  display: flex;
  display:-webkit-flex;
  margin-bottom: 15px;
}
#video-container {
    width: 96vw;
}
.video-label {
    width: 96vw;
}
.video-wrapper {
    width: 96vw;
}
.video-body {
    height: 54vw;
    width: 96vw;
}
.video-body img {
    max-height: 54vw;
    max-width: 96vw;
    min-height: 54vw;
    min-width: 96vw;
}
.video-body span {
    margin-left: 38vw;
    margin-top: 16vw;
}
.video-heading {
    bottom: 10px;
    font-size: 20px;
    line-height: 25px;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 92vw;
}
.AdGroup11, .AdGroup13 {
    overflow: hidden;
    width: 96vw;
}
.custom_adgroup_11, .custom_adgroup_13 {
    max-width: 96vw;
}
.Poll1 {
    float: none;
}
.AdGroup12 {
  float: left;
  margin-top: 20px;
  width: 96vw;
}
.custom_adgroup_12 {
    max-width: 96vw;
}
.preview-group {
    width: 96vw;
}
.pg {
    margin-right: 0;
    width: 96vw;
}
.preview-article {
    width: 96vw;
}
.preview-image {
    height: 13vw;
    width: 20vw;
}
.preview-image > img {
    max-height: 13vw;
    max-width: 20vw;
}
.preview-article:nth-child(2) .preview-heading {
    font-size: 14px;
    line-height: 16px;
    margin-left: 2vw;
    max-height: 32px;
    width: 71vw;
}
.footer1 {
    padding-left: 2vw;
    padding-right: 2vw;
    width: 96vw;
}
.need-help {
    margin-bottom: 20px;
    margin-right: auto;
	width:100%;
}
.find-us {
    display: flex;
    margin-bottom: 20px;
    margin-right: auto;
	width:100%;
}
.contactbody {
    font-size: 13px;
    text-align: left;
}
.call-us {
    float: left;
	width:100%;
}
.fi {
  width: 30px;
}
.fi i {
    font-size: 30px;
}
.footer2 {
    padding-left: 2vw;
    padding-right: 2vw;
    width: 96vw;
}
.footer2-inner {
    padding: 0;
    width: 96vw;
}
.copyright-line {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.other-line {
    float: none;
    padding-bottom: 10px;
}
.menubodyhorizontal {
    float: none;
    text-align: left;
}
.submenu_div.column7 {
    position: relative;
    top: auto !important;
}
div.submenubodyhorizontal {
    float: none;
}
.mmenu {
  -moz-user-select: none;
  background-color: #c42721;
  cursor: pointer;
  display: block;
  float: left;
  padding-left: 2vw;
  padding-right:2vw;
  width: 7vw;
}
.mmenuIcons {
  height: 40px;
  display:flex;
  display:-webkit-flex;
  -ms-display:flex;
  align-items:center;
  -webkit-align-items:center;
  -ms-align-items:center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  text-align: center;
  width: auto;
}
.mmenuOpen {
  color: white;
  cursor: pointer;
  font-size: 21px;
  line-height: 40px;
}
.icon-menu-bars { 
  position: relative;
  display: inline-block;
  line-height: 40px;
  width: 25px;
  z-index: 1;
}
.mmenu-label {
  float:left;
  color:white;
  line-height:40px;
  font-size:17px;
}
.search_content {
  margin-left: auto;
  margin-top:40px;
  right: 0;
}
.search_box {
  width:89vw;
}
.icon-menu-bars .bar-1, .icon-menu-bars .bar-2, .icon-menu-bars .bar-3 {
  background: white none repeat scroll 0 0;
  display: block;
  height: 2px;
  margin-top: 4px;
  transition: all 0.15s ease 0s;
  width: 100%;
}

.navbar-dark .icon-menu-bars .bar-1, .navbar-dark .icon-menu-bars .bar-2, .navbar-dark .icon-menu-bars .bar-3 {
  background: #efefef none repeat scroll 0 0;
}

.icon-menu-bars .bar-1:first-child, .icon-menu-bars .bar-2:first-child, .icon-menu-bars .bar-3:first-child {
  /*  margin-top: 0; */;
}

.dd-container.open .icon-menu-bars .bar-2, .dropup.open .icon-menu-bars .bar-2, .no-js .dd-container:hover .icon-menu-bars .bar-2, .no-js .dropup:hover .icon-menu-bars .bar-2 {
  transform: scale(0);
}

.dd-container.open .icon-menu-bars .bar-1, .dropup.open .icon-menu-bars .bar-1, .no-js .dd-container:hover .icon-menu-bars .bar-1, .no-js .dropup:hover .icon-menu-bars .bar-1 {
  transform: rotate(45deg) translateY(4px) translateX(3px);
}

.dd-container.open .icon-menu-bars .bar-3, .dropup.open .icon-menu-bars .bar-3, .no-js .dd-container:hover .icon-menu-bars .bar-3, .no-js .dropup:hover .icon-menu-bars .bar-3 {
  transform: rotate(-45deg) translateY(-4px) translateX(3px);
}

.openm .bar-3 {
  transform: rotate(-45deg) translateY(-4px) translateX(6px);
}

.openm .bar-1 {
  transform: rotate(45deg) translateY(4px) translateX(4px);
}

.openm .bar-2 {
  transform: rotate(-45deg) translateY(0px) translateX(0px);
}
div.menubodyhorizontal:hover {
  background-color: transparent;
}
.menu_content.column6 {
  width: 100vw;
}
.submenu_div.column7 {
  margin-left: 4vw;
  margin-right: 4vw;
  width: 88vw;
}
div.submenubodyhorizontal {
    min-width: auto;
	line-height:35px;
}
.menubodyhorizontal a:link {
  box-sizing: border-box;
  display: block;
  padding-left: 2vw;
  padding-right: 2vw;
  line-height:40px;
}
.menubodyhorizontal .fa.fa-angle-down {
  float: right;
  font-weight: bold;
  line-height: inherit;
}
div.menubodyhorizontal {
  border-bottom: 1px solid #363636;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 96vw;
}
div.submenubodyhorizontal {
  margin-top:0;
}
div.menubodyhorizontal:last-of-type {
  border-bottom-width: 0;
}

.label-menu, .label-submenu {
    font-size: 17px;
    line-height: 20px;
}
.article-section-block {
    margin-bottom: 15px;
    width: 96vw;
}
.article-section-image {
    height: 64vw;
    width: 96vw;
}
.article-section-flag {
    background-color: #ebebeb;
    margin-top: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5px;
    width: 92vw;
}
.article-section-heading {
    max-height: none;
}
.archive-load_more > span {
    padding: 10px 30px;
}
.article-section-image img {
    max-height: 64vw;
    max-width: 96vw;
}
.article-section-block:last-of-type {
  margin-bottom: 0;
}
.popup4-article {
	height:75vh;
}
}

@media screen and (max-width: 480px) {
.preview-article:nth-child(2) .preview-heading {
  font-size: 12px;
  line-height: 17px;
  max-height: 34px;
}
.H2.uncommentbig .H2_heading > a:link, .H2.uncommentbig .H2_heading > a:visited {
  font-size: 16px;
  line-height: 18px;
}
.icon-menu-bars { 
  width: 25px;
}
}

/* *** END: General Responsive CSS *** */


/* BEGIN: Responsive Forms */

@media screen and (max-width: 768px) {
.custom-form .input input, .custom-form .select select, .custom-form .textarea textarea {
  font-size: 11px !important;
/*  height:29px !important; */
}
  #MainContent iframe, .spbody {
   /* width: 100% !important; */
  }

  .formdivider,
    .formbody,
    .formfieldname {
  /*  width: 90% !important;
    font-size: 12px !important; */
  }

  .formbutton {
    width: 50% !important;
    position: absolute;
    left: 33%;
    padding: 5px;
    margin-left: auto;
  }

  .formfieldinput {
   /* width: 85% !important; */
  }

  .formdivider:first-child,
    .formbody table {
   /* width: 100% !important; */
  }

  .formfieldinputfocus {
  /*  width: 85% !important; */
  }

  #popup_container {
    max-width: 72vw !important;
    min-width: 72vw !important;
    width: 72vw !important;
  }
}

@media screen and (max-width: 360px) {
  .formdivider,
    .formbody,
    .formfieldname {
    font-size: 11px !important;
  }
  .formbody b {
    font-size: 12px;
 }
 .formfieldinput {
    font-size: 11px !important;
 } 
 .formfieldinputfocus {
    font-size: 11px !important;
 }
 .formbutton {
    font-size: 14px !important;
 }
}

@media screen and (max-width: 320px) {
  .formdivider,
    .formbody,
    .formfieldname {
    font-size: 10px !important;
  }

  .formbody img {
    max-width: 100px;
  }
}

/* END: Responsive Forms */


/* BEGIN: Responsive Product Page */

.productbody img {
  max-width: 460px;
}

.productlink img {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .productbody {
    width: 90% !important;
  }

  .productbody img {
    max-width: 80%;
  }

  .productlink img {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .productlink img {
    width: 100px !important;
  }

  .productcategory {
    font-size: 13px !important;
  }

  .productbody a:link, .productbody a:hover, .productbody a:visited {
    font-size: 10px !important;
  }
}

/* END: Responsive Product Page */


/* BEGIN: Responsive Guestbook Page */

@media screen and (max-width: 768px) {
  .guestbookbody {
    width: 90% ! important;
  }
}

/* END: Responsive Guestbook Page */


/* BEGIN: Responsive Popup window */

@media screen and (max-width: 768px) {
.popup4-article {
  box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.95)  !important;
  width: 90vw  !important;
}

}

/* END: Responsive  Popup window */


/* BEGIN: Responsive Properties */

@media screen and (max-width: 768px) {
  .propertiesbody {
    width: 90% ! important;
    padding-left: 0px ! important;
    padding-right: 0px ! important;
  }

  .propertiessearchbody {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
  }

  .propertiesbutton {
    font-size: 12px;
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .propertiessearchbody {
    font-size: 11px;
    font-weight: bold;
  }

  .propertiessearchbody input {
    font-size: 10px;
  }

  .propertiessearchbody select {
    font-size: 10px;
  }

  .propertiessearchheading {
    font-size: 13px;
    height: 20px;
  }

  .propertiesbody img {
    max-width: 100% !important;
  }
}

/* END: Responsive Properties */


/* BEGIN: Responsive Detail Page(Article) */

@media screen and (max-width: 768px) {
.default-article-body iframe {
	max-width:96vw !important;
}
.art-img {
  width: 96vw;
}
.pagebody.layout_pagebody {
  width: 96vw;
  float: left;
  overflow: hidden;
  max-width: 96vw;
  word-wrap: break-word;
  white-space: normal;
}
.default-article-container {
    float: left;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 30px;
    width: 96vw;
}
.pagephoto.layout_pagephoto {
    max-height: 64vw;
    max-width: 96vw;
}
.pageheading.layout_pageheading {
  margin-bottom: 10px;
}

.pagephotocaption:empty {
  display: none;
}
.pagebyline:empty {
  display: none;
}
}

@media screen and (max-width: 640px) {
.label-archive {
  font-size: 14px;
}

.pageheading.layout_pageheading {
  font-size: 25px;
  line-height: 30px;
}
}

@media screen and (max-width: 360px) {
.pageheading.layout_pageheading {
  font-size: 20px;
  line-height: 22px;
}
.default-article-body, .pagebyline, .pageissuedate, .pagesourceline {
  font-size: 13px;
  line-height: 18px;
}
}

/* END: Responsive Detail Page(Article) */
